
  <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
            <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
        <% if(locals.user && !locals.user.isAdmin){ %>
          <li class="nav-item"><a href="#" class="nav-link link-dark px-2"><%= user.name %></a></li>
            <li class="nav-item"><a href="/users/logout" class="nav-link link-dark px-2">Log Out</a></li>
        <% }else if(locals.user && locals.user.isAdmin){ %>
            <li class="nav-item"><a href="/admin/admin-page" class="nav-link link-dark px-2 active" >Assign Review</a></li>
            <li class="nav-item"><a href="/admin/view-employees" class="nav-link link-dark px-2">Employees</a></li>
            <li class="nav-item"><a href="/users/register" class="nav-link link-dark px-2">Add new Employee</a></li>
            <li class="nav-item"><a href="/users/logout" class="nav-link link-dark px-2">Log Out</a></li>
        <% }else{ %>
            <li class="nav-item"><a href="/users/login" class="nav-link link-dark px-2">Log In</a></li>
            
        <% } %> 
      </ul>
    </div>
  </nav>